<h1><%= @team.name %></h1>
<ul>
<li><%= @team.city %></li>
<li><%= @team.abbreviation %></li>
</ul>
<h2> Division: <a href="/divisions/<%= @team.division.id %>"><%= @team.division.name %></a> </h2>
<h3><%= @team.name %> Players</h3>
<ul>
  <% @players.each do |player| %>
  <li><a href="/players/<%= player.id %>"><%= "#{player.first_name} #{player.last_name}" %></a></li>
  <% end %>
</ul>

<a href="/teams">See all teams</a>