<%= link_to('See all teams', { controller: 'teams', action: 'index' }) %>

<h1><%= @team.name %></h1>
<ul>
  <li><%= @team.city %></li>
  <li><%= @team.abbreviation %></li>
</ul>
<h2>Division: <%= link_to @team.division.name, @team.division %></h2>

<%= form_tag(team_path(@team), method: :get, class: 'search-form') do %>
  <%= text_field_tag(:search, params[:search], placeholder: 'Search players by name') %>
  <%= submit_tag('Search', class: 'btn btn-primary') %>
<% end %>

<h3><%= @team.name %> Players</h3>
<ul>
  <% @players.each do |player| %>
    <li><%= link_to "#{player.first_name} #{player.last_name}", player %></li>
  <% end %>
</ul>

<%= will_paginate @players %>
