<%= link_to('See all teams', {controller: 'teams', action: 'index'}) %>

<h1><%= @team.name %></h1>
<ul>
  <li><%= @team.city %></li>
  <li><%= @team.abbreviation %></li>
</ul>
<h2> Division: <%= link_to @team.division.name, @team.division %></h2>
<h3><%= @team.name %> Players</h3>
<ul>
  <% @players.each do |player| %>
    <li><%= link_to "#{player.first_name} #{player.last_name}", player %></li>
  <% end %>
</ul>

<%= will_paginate @players %>