<%= link_to('See all teams', { controller: 'teams', action: 'index' }, class: "link-offset-2 link-underline link-underline-opacity-0") %>
<div class="container text-center">
<h1><%= @team.name %></h1>

<ul class="list-inline row">

  <li class="list-inline-item"><%= @team.city %></li>

  <li class="list-inline-item"><%= @team.abbreviation %></li>

</ul>

<h2>Division: <%= link_to @team.division.name, @team.division, class: "link-offset-2 link-underline link-underline-opacity-0" %></h2>

<%= form_tag(team_path(@team), method: :get, class: 'search-form') do %>
  <%= text_field_tag(:search, params[:search], placeholder: 'Search players by name') %>
  <%= submit_tag('Search', class: 'btn btn-primary') %>
<% end %>
</div>
<div class="container text-center">
<h3><%= @team.name %> Players</h3>
<ul class="list-inline row g-5">
  <% @players.each do |player| %>
    <li class="list-inline-item col-2"><%= link_to "#{player.first_name} #{player.last_name}", player, class: "link-offset-2 link-underline link-underline-opacity-0" %></li>
  <% end %>
</ul>
</div>
<div class="container text-center">
<%= will_paginate @players, link_separator: '&nbsp;' %>
</div>