<%= link_to('See all divisions', {controller: 'divisions', action: 'index'}) %>
<h1><%= @division.name %> Division</h1>
<h2>Conference:
  <%= link_to @division.conference.name, @division.conference %>
</h2>
<h3><%= @division.name %> Teams</h3>
<ul>
  <% @teams.each do |team| %>
    <li><%= link_to team.name, team %></li>
  <% end %>
</ul>