<nav>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Conferences", conferences_path %></li>
    <li><%= link_to "Divisions", divisions_path %></li>
    <li><%= link_to "Teams", teams_path %></li>
    <li><%= link_to "Players", players_path %></li>
    <li><%= link_to "About", about_index_path %></li>
  </ul>
</nav>