<nav>
  <%= link_to "Home", root_path %>
  <%= link_to "Conferences", conferences_path %>
  <%= link_to "Divisions", divisions_path %>
  <%= link_to "Teams", teams_path %>
  <%= link_to "Players", players_path %>
  <%= link_to "About", about_index_path %>
</nav>
