<div class="container text-center col-lg-6">
<h1>Players</h1>

<%= form_tag(players_path, method: :get, class: 'search-form') do %>
  <%= text_field_tag(:search, params[:search], placeholder: 'Search by name') %>

  <%= select_tag(:position, options_for_select(Player.distinct.pluck(:position).reject(&:empty?), params[:position]), include_blank: 'Select a position') %>

  <%= submit_tag('Search', class: 'btn btn-primary') %>
<% end %>
<ul class="list-inline row g-3">
  <% @players.each do |player| %>
      <li class="col-2 list-inline-item">
        <%= link_to "#{player.first_name} #{player.last_name}", player_path(player), class: "link-offset-2 link-underline link-underline-opacity-0" %>
      </li>
  <% end %>
</ul>
</div>
<div class="container text-center">
  <%= will_paginate @players %>
</div>
