<%= link_to('See all players', {controller: 'players', action: 'index'}) %>
<br>
<%= link_to("See team", team_path(@player.team, team_id: @player.team.id), class: 'back-link') %>

<h1><%= "#{@player.first_name} #{@player.last_name}" %></h1>
<h3>Player information</h3>
<ul>
  <li>
    <% if @player.height_feet == nil %>
      Height: Unknown
    <% else %>
      Height: <%= "#{@player.height_feet}'#{@player.height_inches}"%>
    <% end %>
  </li>
  <li>
    <% if @player.weight_lbs == nil %>
      Weight: Unknown
    <% else %>
      Weight: <%= @player.weight_lbs %>
    <% end %>
  </li>
  <li>
      Position: <%= @player.position %>
  </li>
  <li>
    Team: <%= link_to @player.team.name, @player.team %>
  </li>
  <li>
    Division: <%= link_to @player.team.division.name, @player.team.division %>
  </li>
  <li>
    Conference: <%= link_to @player.team.division.conference.name, @player.team.division.conference %>
  </li>
</ul>

